body {
    background: radial-gradient(circle, yellow,#000);
    padding: 0;
    margin: 0;
}

.header{
    padding: 3vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 25vw;
}

.container{
    width: 1200px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    height: inherit;
    align-items: center;
}

.menu{
    height: inherit;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    /* text-align: center; */
}

.header ol{
    display: flex;
    height: inherit;
    /* display: flex;
    text-align: center;
    justify-content: space-between; */
}

.header ol li{
    height: inherit;
    display: flex;
    /* display: flex;
    text-decoration: none;
    justify-content: inherit;
    padding: 1vw; */    
}

.menu a {
    font-size: 2vw;
    padding: 0vw 1vw;
    text-decoration: none;
    color: #fff;
    /* display: flex;
    justify-content: inherit;
    text-decoration: none;
    text-align: center; */
}



.cont{
    display: flex;
    width: 28vw;
    height: 28vw;
    border: 1px solid yellow;
}

.caja{
    display: flex;
    flex-wrap: wrap;
    width: 25vw;
    height: 25vw;
    background-image: url(../img/ichigo.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    border: transparent;
    object-fit: initial;
    position: absolute;
    margin: 1vw;
    text-align: center;
}

.cajota{
    border: 5px solid yellow;
    border-radius: 5px;
    margin: 1vw;
}